.App1{
    background-color: #d1d2df;
    border-radius: 50px;
    box-sizing: border-box;
    height: 400px;
    padding: 20px;
    width: 350px;
    margin-left: 120%;
    margin-top: 60%;
}

.input2{
    background-color: #4a4b52;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 10px 20px 0;
    width: 100%;
    
}